@font-face{
	font-family: Abel;
	src:url(Abel/Abel-Regular.ttf);
}
@font-face{
	font-family: Poiret;
	src:url(Poiret_One/PoiretOne-Regular.ttf);
}
@font-face{
	font-family: Myanmar;
	src:url(myanmar-text/mmrtext.ttf);
}

